#main {
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100%;

    /* This is optional, and alter how I've chosen to style my webpage */    
    margin: 8px 0px;
}

#title {
    text-align: center;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;

    /* This is optional, and alter how I've chosen to style my webpage */
    margin-top: 0;
    color: palevioletred;
    background-color: lemonchiffon;
    border: 10px solid thistle;
    font-size: 50px;
}

#img-div {
   /* This is optional, and alter how I've chosen to style my webpage */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    margin: 20px 0px;
}

#image {
    /* This is optional, and alter how I've chosen to style my webpage */
    max-width: 100%;
    max-height: 500px; 
}

#img-caption {
    /* This is optional, and alter how I've chosen to style my webpage */
    font: bold 20px sans-serif;
    color: #1C7C54;
}

#tribute-info {
    /* This is optional, and alter how I've chosen to style my webpage */
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
}

.tribute-paragraph {
    /* This is optional, and alter how I've chosen to style my webpage */
    margin: 20px 10px;
}

#tribute-list {
    /* This is optional, and alter how I've chosen to style my webpage */
    list-style-type: square;
}

.tribute-item {
    /* This is optional, and alter how I've chosen to style my webpage */
    color: palevioletred;
    font-size: 25px;
    padding: 5px;
}

#flip-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    perspective: 1020px;
}

#tribute-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

#flip-card-front, #flip-card-back {
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;

    /* This is optional, and alter how I've chosen to style my webpage */
    background-color: lemonchiffon;
    border: 10px solid thistle;
}

#flip-card-back {
    transform: rotateX(180deg);
}

#flip-card:hover #tribute-link {
    transform: rotateX(180deg);
}

a {
/* This is optional, and alter how I've chosen to style my webpage */
    color: inherit;
    text-decoration: none;
}

