/BankAccounts/BankAccounts/nbproject/private/
/BankAccounts/BankAccounts/build/
/BankAccounts/JavaApplication20/nbproject/private/
/Pokedex/PokedexEntries/nbproject/private/
/Pokedex/PokedexEntries/build/